[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DALY"]
	path = DALY
	url = https://github.com/brechtdv/daly
[submodule "cystiSim"]
	path = cystiSim
	url = https://github.com/brechtdv/cystisim
[submodule "prevalence"]
	path = prevalence
	url = https://github.com/brechtdv/prevalence
